<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<title>{% block title%}MDB{% endblock %}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css">
		<meta charset="utf-8">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
		</style>

	</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="http://mdb.neuf.no">MDB</a>
<!--			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/info">Info</a></li>
					<li><a href="/admin">Admin</a></li>
				</ul>
			</div><!--/.nav-collapse -->
-->
		</div>
	</div>
</div>
<div class="container">
<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>MDBs new look-and-feel!</h1>
		<p>For some time now, I've have been thinking about giving mdb a face-lift. The day has finally come! MDB now has some extended features, where you can browse around and easily find what you are looking for in order to administer and manage hosts and networks at DNS.</p>
		<p>The admin-interface has not yet been changed, so please live with it a little longer...</p>
		<p><small>tormsl</small></p>
	</div>
	<!-- Example row of columns -->
	<div class="row">
		<div class="span4">
			<h2>Admin</h2>
			<p>For now, the admin interface is still the same. It works good enough, although being horribly slow at times. There are a few shortcommings which should have been fixed, but for now, it'll do. If you're interrested in helping with mdb development, please <email><a href="mailto:kak-edb+mdb@studentersamfundet.no">email</a></email> us or let us otherwise know.</p>
			<p><a class="btn" href="/admin">Go Admin &raquo;</a></p>
		</div>
		<div class="span4">
			<h2>MDB Features</h2>
			<p>The MDB database currently contains a fair number of hosts, which I for one, would like to do something fun with! I've already started extending MDB with a few scripts which checks the alive status of hosts, and are interrested in more of these small-but-handy scripts. If you have an idea, please <email><a href="mailto:kak-edb+mdb@studentersafundet.no">mail</a></email> us with your suggestion.</p>
		</div>
		<div class="span4">
			<h2>Information</h2>
			<p>To view data from MDBs database, take a look at the info module. This module will present the data contained in the database as best as we can to make sure you get everything you want from MDB.</p>
			<p><a class="btn" href="/info">Enter &raquo;</a></p>
		</div>
	</div>
	<hr>
	<footer>
		<p>Det Norske Studentersamfund 2012</p>
	</footer>
</div> <!-- /container -->
<!-- Le javascript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<!--
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-carousel.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
-->
</body>
</html>
